.git
.github
**/__pycache__
**/*.py[cod]
**/.pytest_cache
.env
.env.*
!.env.example
*.md
LICENSE
.venv
venv
node_modules
frontend
.next
tests
*.db
backend/uploads/*
!backend/uploads/.gitkeep
.pytest_cache
.coverage
htmlcov
.fastapicloud
*.egg-info
build
dist
